# .eslintrc (YAML)
---
settings:
import/ignore:
- node_modules  # included by default, but replaced if explicitly configured
- *.coffee$     # can't parse CoffeeScript (unless a custom polyglot parser was configured)
